body{
  font-family: sans-serif;
  margin: 20%;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.square{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
}

.status{
  margin-bottom: 15px;
}

.game{
  display: flex;
}
